.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 300px 1fr 100px;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "body body body body"
    "footer footer footer footer";
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}

#bodyInicial .PaginaInicial {
  grid-area: white;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
}
form {
  background: #fffacd;
  width: 400px;
  border: 2px solid orange;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0px 0px 70px white;
  margin: 100px auto;
  box-shadow: 5px 5px 5px 0px white;
  position: center;
}
form h1 {
  text-align: center;
  color: orange;
  font-weight: normal;
  font-size: 40px;
  margin: 30px;
}

form input {
  width: 280px;
  height: 25px;
  padding: 0px 10px;
  color: white;
  text-align: center;
  margin: 10px 60px 20px;
}
form button {
  width: 135px;
  margin: 20px 20px 30px 20px;
  hight: 25px;
  background: #fffacd;
  border: 2px solid #f4a460;
  color: fff;
  box-shadow: 1px 3px 1px #fffacd;
  border-radius: 3px;
}
form button:hover {
  background: orange;
}
form button:active {
  background: 2a2828;
}
h3 {
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 20px;
  margin: 20px 30px 20px 30px;
}
p {
  margin: 30px;
}

.recuperarcontraseña{
  background-color: #fffacd;
  align-items: center;
  
}

.recuperarcontraseña a {
  color: black;
   text-align: center;
}
